/* 
    Document   : custom.css
    Created on : 27/08/2013, 01:58:04 PM
    Author     : jairo
    Description:
        Purpose of the stylesheet follows.


.logo {
    height: 100px;
    width: 100%;
}

*/